<!DOCTYPE html>     

<html>

<head>
    <title>404</title>
    <link rel="stylesheet" href="./css/style.css">
<link rel="icon" href="/img/weather.png">
</head>

<body>

    <div class="main-content">

     {{>header}}
{{message}}

    </div>

{{!-- <h1> {{title}}</h1> --}}
{{>footer}}
</body>
{{!-- 
<img src="/img/GOAT.jpg">
<p> Created by {{name}}</p> --}}


</html>